<div class="todo">
 <div class="text">
   {{title}}
 </div>
 <div class="done">
   <input type="checkbox" data-timestamp="{{timestamp}}" {{#if done}} checked {{/if}} class="check-item" style="float:right;">
 </div>
 <div class="clear">&nbsp;</div>
</div>
